.action-bar {
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    display: table;
    font-size: 18px;
    padding: 10px 30px;
    width: 100%;
}

.blogg-button {
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.1);
    color: #222;
    cursor: pointer;
    height: 27px;
    padding: 0 10px;
    line-height: 26px;
    margin: 0;
    text-align: center;
    box-sizing: content-box;
    vertical-align: middle;
    font-size: 11px;
    font-weight: bold;
    position: relative;
}

.title-field {
    display: table-cell;
    width: 100%;
}

.action-bar .button-panel {
    display: table-cell;
    padding: 0 50px 0 30px;
    white-space: nowrap;
    width: 1px;
}

.button-primary {
    border: 1px solid #fb8f3d;
    color: #fff;
    background: -webkit-gradient(linear,left top,left bottom,from(#f57b54),to(#ff7043));
}