.login-container {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  max-width: 600px;
  border-radius: 1em;
  border: black 1px solid;
  padding: 2em 5em;
}

.login-form div {
  margin: 1em 0em;
}

.command-bar {
  text-align: right;
}
