
.styles-header {
    align-items: center;
    background-color: rgb(61, 79, 93);
    box-sizing: border-box;
    display: flex;
}

.wide-styles-header {
        bottom: 0px;
        justify-content: center;
        position: fixed;
        top: 0px;
        width: 25%;
}

.wide-styles-header-content {
    text-align: center;
}

.styles-header h1 {
    padding: 30px 30px;
    margin: 0px;
    color: white;
    font-weight: bold;
}

.blog-post {
  color: #333;
}

.header-links {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
}

a.subtle-link {
  text-decoration: none;
  color: inherit;
}

.main-content-wide {
    box-sizing: border-box;
    margin-left: 25%;
    padding: 48px;
}

div.main-content-wide {
    max-width: 900px;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-group {
    margin-bottom: 15px;
}