@import controls._
@editorMain("Blog Editor") {

<div class="container" id="editor">
        <div class="action-bar">
            <input id="title" v-model="entry.title" class="title-field" name="title" placeholder="Title" type="text"/>
            <span class="button-panel">
                <button class="blogg-button button-primary" v-on:click="save">Save</button>
                <button class="blogg-button" v-on:click="cancel">Close</button>
            </span>

        </div>
        <div>

            <div class="form-group">
                <label for="body">Body</label>
                <textarea v-model="entry.body" class="form-control" id="body" name="body"> </textarea>
            </div>
        </div>
</div>
}
